//- ...
include ../lib/_manager



//- ...
doctype html
html(lang="en" data-theme="light")



    //- ...
    +head(brandName, "styles.css")



    //- ...
    // Website Made By:- 
    // @black_eagle_dev (Find me on Twitter/X)
    // @Raezard77 (Contact me via Telegram)
    body 
        header#home
            +navBar(brandName, linksArr)
            main
                h1.hidden !{heroTitle}
        section#about
            #about-txt.hidden
                h2 ABOUT SAM
                +aboutTxt()
            img#about-img.hidden(src="./images/sam-suit.jpg", alt="SAM'S PIC")
        section#testimonials.titled-section
            h2.section-title.hidden Testimonials
            .slideshow-container
                each slide, index in slides
                    .mySlides.fade
                        img(src="./images/"+slide+".webp", alt="screenshot"+(index+1), style="width:100%")
                a.prev(onclick="plusSlides(-1)") &#10094;
                a.next(onclick="plusSlides(1)") &#10095;
                div(style="text-align:center")
                    each slide, index in slides
                        span.dot(onclick="currentSlide("+(index+1)+")")
        section#services.titled-section
            h2.section-title.hidden Services
            .services-container
                each service in services
                    .service-bx(style="--clr:"+service.clr)
                        .service
                            .icon-box
                                +#{service.icon}()
                            h3.hidden !{service.title}
                            p.hidden !{service.txt}
                            //- a.hidden(data-href="#call" onclick="openURL(this)") learn more
        section#faq.titled-section
            h2.section-title.hidden F.A.Q
            .faq-box
                .question.hidden #[span !{question}]
                .answer.hidden #[span !{answer}]
        section#call.titled-section
            h2.section-title.hidden Book A Call
            .call-desc-box
                //- .call-desc
                //-     +#{callDesc}()
                .calendly-inline-widget(data-url='https://calendly.com/wrotebysam/discovery-call-1' style='min-width:320px;height:700px;')
        footer
            h2 !{brandName}
            h4 Copyright &copy;#[span#year] All rights reserved
            h4 Website Made by #[a(href="https://twitter.com/black_eagle_dev", target="_blank") @black_eagle_dev]


        //- ...
        +loadScripts()
        script
            | document.querySelector('#year').textContent = new Date().getUTCFullYear()
        //- Calendly
        script(src='https://assets.calendly.com/assets/external/widget.js' async='')
        //- script(src='./js/cal-styling.js')
