mixin head(title= "My Title", cssFile)
        head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
            //- meta(http-equiv="Content-Security-Policy", content="default-src 'self'")
            //- meta(name="color-scheme", content="dark")
            meta(name="description", content=description)
            meta(name="keywords", content=keywords)
            meta(name="application-name", content=brandName)
            title= title
            link(rel="stylesheet", href="./css/"+cssFile)
            link(rel="icon", href=imgLogo)
            +customHead()
